.title {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
    font-family: 'Chivo', sans-serif;
}

.jumbotron {
    background-image: url(https://codebru.com/sites/default/files/team-with-devices-apexlearning.jpg);
    background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding-top: 60px;
    height: 350px;
}