* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.search {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}